/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Basic style for body element includs fonts family*/
body {
  background-color: lightslategray;
  text-align: center;
  font-family: "Rodoto", sans-serif;

}

/*Main game section , background for all sections of game*/
#main_game {
  margin-top: 25px;
  position: relative;
  width: 98%;
  border: 3px solid;
  border-color: black;
  border-radius: 15px;
  height: 100vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url(../images/pexels_dip_mind.jpg) no-repeat center center/cover;
}

/*Welcome section display on the satrt.*/
#welcome {
  position: absolute;
  background-color: rgba(99, 163, 165, 0.7);
  border: 2px solid black;
  left: 11vw;
  bottom: 13.5vh;
  width: 68vw;
  min-height: 500px;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Font size for welcome section h2 element*/
#welcome h2 {
  margin-top: 120px;
  font-size: 25px;
}

/*Welcome section h2 elemen*/
#welcome h1 {
  font-size: 20px;
  margin-top: 25px;
}

/*Button to start the quize*/
#start {
  margin-top: 30px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 35px;
  font-weight: 600;
  background-color: #a7a7a5;
  color: #0d0d0d;
  border: 2px solid #f3f3eb;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #9f9999;
}

#start:hover {
  background-color: #83aaf2;
}

#myInput {
  height: 25px;
  width: 160px;
  background-color: #9f9999;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

/*Section sellect game. */

/*Main container for select game section*/
#select_game {
  position: absolute;
  left: 8vw;
  bottom: 30vh;
  width: 75vw;
  height: 65vh;
  padding: 10px 10px;
  border-radius: 10px;
  color: #121111;
  text-align: center;
  border-radius: 5px;
}
/*Select game h1 and h2 elements*/
.logo_select_game {
  margin-top: 2vh;
  margin-bottom: 25px;
  background-color: rgba(99, 163, 165, 0.7);
  padding: 10px 10px;
  border:2px, solid,  black;
  border-radius: 5px;
}

/*container to store 2 choices geo and bio*/
#choice_container {
  padding: 5px 5px;
  height: fit-content;
  display: flex;
  align-items: stretch;
  flex-direction: row;

}
/*container for 2 games type */
.choice_option {
  width: 35vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #9f9999;
  border: 2px solid black;
  border-radius: 5px;
}
/*background for biology choice*/
#choice_bio {
  background: url(../images/pexels-jerseypics.jpg) no-repeat center center/cover;
}
/*background for geography choice*/
#choice_geo {
  background: url(../images/pexels-pixabay.jpg) no-repeat center center/cover;
}

/*choice button to choose game*/
.btn_game_type {
  height: 35px;
  width: 120px;
  margin-top: 26dvh;
  border-radius: 5px;
  padding: 4px 4px;
  font-size: 15px;
  font-weight: 600;
  background-color: #d7e88e;
  color: #171717;
}

.btn_game_type:hover {
  background-color: #fafafa;
  color: black;
}

/*Section for displaying questions*/

#question_area {
  position: absolute;
  left: 8vw;
  bottom: 16vh;
  width: 75vw;
  height: 65vh;
  max-width: 300px;
  max-height: 500px;
  padding: 10px 10px;
  border: 2px solid #3f3204;
  border-radius: 5px;
  background-color: rgba(144, 180, 242, 0.4);
  color: black;
  display: flex;
  flex-direction: column;
}

#question {
  font-size: 20px;
}

#question_list {
  list-style: none;
  text-align: left;
  background-color: #3a3a38;
  height: fit-content;
  padding: 10px 10px;
}
/*list of answers*/
#question_list li {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: #83aaf2;
  height: 25px;
  width: 60vw;
  max-width: 200px;
  border: 1px solid #111010;
  border-radius: 6px;
  padding: 5px 5px;
}

#answer_area {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}


.btn_submit {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 100%;
  background-color: #3a3a38;
  color: #fafafa;
}


/*Section diplays correct and inncorect answers after quiz finished*/
#score {
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  height: 60vh;
  min-height: 200px;
  background-color: black;
  color: #fafafa;
  border: 2px solid #fafafa;
  border-radius: 5px;
  padding-top: 40px;
}

#score_comment {
  font-size: 20px;
  color: #fafafa;
}

#restart {
  margin-top: 90px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/*Media query: smal screen (max 400px)*/
@media screen and (max-width: 400px){

  /*Game choice butonns for choose game typy section.*/
  .btn_game_type {
    height: 35px;
    width: 90px;
    background-color: #d7e88e;
    color: #171717;
  }
  .choice_option {
    width: 30vw;
    height: 38vh;
    
  }

}

/*Media query: Tablet and larger (768px and up)*/
@media screen and (min-width: 700px) {

  /*section select game*/

  #select_game {
    position: absolute;
    left: 10vw;
    bottom: 12vh;
    width: 75vw;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
    color: black;
    text-align: center;
    border-radius: 5px;
  }

  .logo_select_game {
    margin-top: 6vh;
    margin-bottom: 25px;
    height: 65px;
    padding-top: 35px;
  }

  .btn_game_type {
    height: 45px;
    width: 220px;
    font-size: 18px;
    font-weight: 800;
  }


  /*Section for displaying questions*/

  #question_area {
    position: absolute;
    left: 30vw;
    bottom: 16vh;
  }

}