body {
  background-color: lightslategray;
  text-align: center;

}

#main_game {
  margin-top: 95px;
  position: relative;
  width: 90%;
  border: 3px solid;
  border-color: black;
  border-radius: 15px;
  height: 80vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url(../images/earth.jpg) no-repeat center center/cover;
}

#welcome {
  position: absolute;
  background-color: rgba(32, 135, 139, 0.7);
  left: 20vw;
  bottom: 10vh;
  width: 50vw;
  height: 50vh;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome h2 {
  font-size: 35px;
}

#welcome h1 {
  margin-top: 65px;
}

#start {
  margin-top: 30px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 35px;
  font-weight: 600;
  background-color: #a7a7a5;
  color: #0d0d0d;
  border: 2px solid #f3f3eb;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #9f9999;
}

#start:hover {
  background-color: #83aaf2;
}

#select_game {
  position: absolute;
  background-color: rgba(32, 135, 139, 0.2);
  left: 4vw;
  bottom: 6vh;
  width: 75vw;
  height: 65vh;
  padding: 10px 10px;
  border-radius: 10px;
  color: #fafafa;
  text-align: center;
  border-radius: 5px;
}

#choice_container {
  padding: 5px 5px;
  height: fit-content;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  background-color: rgba(32, 135, 139, 0.1);

}

.choice_option {
  width: 30vw;
  height: 38vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #9f9999;
  border: 2px solid #111010;
}

#choice_bio {
  background: url(../images/pexels-jerseypics.jpg) no-repeat center center/cover;
}

#choice_geo {
  background: url(../images/pexels-pixabay.jpg) no-repeat center center/cover;
}

.btn_game_type {
  margin-top: 180px;
  border-radius: 2px;
  padding: 2px 2px;
  font-size: 100%;
  font-weight: 800;
  background-color: #3f3204;
  color: #f7f2f2;
}

.btn_game_type:hover {
  background-color: #fafafa;
  color: black;
}

#question_area {
  position: absolute;
  left: 6vw;
  bottom: 6vh;
  width: 75vw;
  height: 65vh;
  padding: 10px 10px;
  border: 2px solid #3f3204;
  border-radius: 5px;
  background-color: rgba(144, 180, 242, 0.4);
  color: black;
  display: flex;
  flex-direction: column;
}

#answer_area {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #3f3204;
  border-radius: 5px;
}

.btn_submit {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 100%;
  background-color: #3a3a38;
  color: #fafafa;
}

.btn_submit:hover {
  background-color: azure;
  color: #3f3204;
}

#score {
  width: 65vw;
  height: fit-content;
  background-color: black;
  color: #fafafa;
  border: 2px solid #fafafa;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}



